*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(114, 202, 114), rgb(121, 191, 219));
}

.social{
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.social li{
    margin: 0 20px 0 20px;
    position: relative;
    list-style: none;
    scale: 1;
    width: 15vh;
    height: 15vh;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.social li a{
    position: relative;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1.8vh solid black;
    transition: .3s;
}

.social li a:hover{
    scale: 0.8;
}

.social li a img{
    max-width: 7vh;
    transition: .5s;
}

.social li:hover a img{
    transform: rotate(360deg) scale(0.8);
}